.app {
    float: left;
    height: 100%;
    width: 100%;
}

.app__header {
    float: left;
    height: 4em;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: var(--background-elevated-base);
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 0.5em 0.1em;
}

.app__headerTracksBox {
    position: absolute;
    top: 50%;
    left: 0.5%;
    transform: translateY(-50%);
}

.app__headerTracks {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--text-base);
}

.app__body, .app__body--hidden{
    float: left;
    height: calc(100% - 10em);
    width: 100%;
    overflow: hidden;
    background: var(--background-base);
}

.app__body--hidden {
    height: calc(100% - 4em);
}

.app__footer, .app__footer--hidden {
    float: left;
    height: 6em;
    width: 100%;
    overflow: hidden;
    background: var(--background-elevated-base);
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 0.5em 0.1em;
}

.app__footer--hidden {
    height: 0;
}

@media only screen and (max-width: 600px) {
    .app__body {
        height: calc(100% - 12em);
    }

    .app__footer {
        height: 8em;
    }
}