.audioPlayer {
    float: left;
    height: 100%;
    width: 100%;
    position: relative;
}

.audioPlayer__trackData {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
}

.audioPlayer__transport {
    float: left;
    height: 100%;
    width: 50%;
    margin-left: 25%;
}