.track {
    float: left;
    height: 3.5em;
    width: 100%;
    padding: 0.1em;
}

.track__highlight {
    float: left;
    height: 100%;
    width: 100%;
    transition: background 0.1s;
    border-radius: 0.5em;
    position: relative;
}

.track:hover > .track__highlight {
    background: var(--background-highlight);
}

.track__data {
    position: absolute;
    max-width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.track__titleWithIcon {
    float: left;
    width: 100%;
    margin: 0.1em;
    max-width: 100%;
}

.track__iconContainer {
    float: left;
    margin-right: 0.25em;
}

.track__titleContainer {
    float: left;
    max-width: calc(100% - 1.25em);
    overflow: hidden;
}

.track__artistContainer {
    float: left;
    width: 100%;
    margin: 0.1em;
}

.track__title, .track__title--playing {
    font-size: 1.2em;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    color: var(--text-base);
}

.track__title--playing {
    color: var(--main-color);
}

.track__artist {
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    color: var(--text-base);
}