.trackList {
    float: left;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.trackList__list {
    float: left;
    width: 100%;
}

.trackList__spinnerContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5em;
    color: var(--text-base);
}
