.transportControl {
    float: left;
    height: 100%;
    width: 100%;
    position: relative;
}

.transportControl__top {
    float: left;
    height: 50%;
    width: 100%;
    position: relative;
}

.transportControl__seekOuter {
    height: 50%;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
}

.transportControl__seek {
    float: left;
    height: 100%;
    width: 100%;
    position: relative;
}

.transportControl__play {
    position: absolute;
    top: 37.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
}

.transportControl__rtz {
    position: absolute;
    top: 37.5%;
    left: 50%;
    transform: translate(-375%, -50%);
    font-size: 1.5em;
}

.transportControl__slider {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 80%;
    transform: translate(-50%, -50%);
}

.transportControl__playbackTime, .transportControl__playbackTime--left, .transportControl__playbackTime--right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-base);
}

.transportControl__playbackTime--left {
    right: 93%;
}

.transportControl__playbackTime--right {
    left: 93%;
}

@media only screen and (max-width: 600px) {
    .transportControl__play {
        transform: translateY(-50%);
        left: unset;
        right: 3%;
        font-size: 3.5em;
    }

    .transportControl__rtz {
        left: unset;
        right: 3%;
        font-size: 2.1em;
    }

    .transportControl__slider {
        width: 94%;
    }

    .transportControl__playbackTime, .transportControl__playbackTime--left, .transportControl__playbackTime--right {
        transform: translateY(65%);
        font-size: 0.8em;
        font-weight: 300;
    }

    .transportControl__playbackTime--left {
        right: unset;
        left: 3%;
    }

    .transportControl__playbackTime--right {
        left: unset;
        right: 3%; 
    }
}